/* AGENDAMENTOS  */

.agendamento-page {
  min-height: 100vh;
  color: var(--marsali-tatoo-color-white);
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;

  background-color: var(--marsali-tatoo-color-dark-green);
}

.agendamento-page::before {
    content:"";
    position: absolute;
    top: 0;
    right: 0;

    width: 65%;
    height: 100%;

    background-image: 
        linear-gradient(
            to left,
            rgba(7, 90, 43, 0.10),
            rgba(7, 90, 43, 0.35),
            rgba(1, 43, 22, 0.85),
            var(--marsali-tatoo-color-dark-green) 100%
        ),
        url('../assets/sobre/sobre-02.png');

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}

.agendamento-page > * {
    position: relative;
    z-index: 1;
}


.agendamento-page h1 {
  color: var(--marsali-tatoo-color-gold);
  font-size: 48px;
  line-height: 1.1;
  margin: 0 0 48px;
  font-weight: 700;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.agendamento-page h2 {
  color: var(--marsali-tatoo-color-gold);
  font-size: 24px;
  margin: 0 0 16px;
  font-weight: 700;
}

.agendamento-page section, 
.agendamento-page form {
  margin-bottom: 48px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.agendamento-page input, 
.agendamento-page select, 
.agendamento-page textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid var(--marsali-tatoo-color-gold);
  background-color: #075a2b77;
  color: var(--marsali-tatoo-color-white);
  font-size: 16px;
}

::placeholder {
  color: var(--marsali-tatoo-color-white);
}

.agendamento-page input:focus, 
.agendamento-page select:focus, 
.agendamento-page textarea:focus {
  border: 3px solid var(--marsali-tatoo-color-dark-green);
  outline: none;
}

.agendamento-acoes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.agendamento-acoes button {
  padding: 16px 32px;
  border: 1px solid var(--marsali-tatoo-color-gold);
  border-radius: 10px;
  background-color: var(--marsali-tatoo-color-green);
  color: var(--marsali-tatoo-color-white);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
}

.agendamento-link {
  text-decoration: none;
  color: var(--marsali-tatoo-color-white);
  padding: 16px 15px;

  
}

.agendamento-page button:hover {
  background-color: var(--marsali-tatoo-color-dark-green);
}

.agendamento-page textarea {
  min-height: 160px;
  resize: vertical;
}

@media (max-width: 768px) {
  .agendamento-page {
    padding: 48px 20px;
  }

  .agendamento-page h1 {
    font-size: 36px;
  }

 

  .agendamento-acoes {
    display: flex;
    flex-direction: column;
    
  }
}

