/* AGENDAMENTOS  */
.agendamento-contain {
  width: 100%;
}

.agendamento-page {
  min-height: 100vh;
  color: var(--marsali-tatoo-color-white);
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;

  background-color: var(--marsali-tatoo-color-wihite);
}

.agendamento-page::before {
    content:"";
    position: absolute;
    top: 0; 
    right: 0;

    width: 100%;
    height: 100%;

      background-image: 
  linear-gradient(
    
    rgba(97, 97, 97, 0.985),
      rgba(56, 56, 56, 0.668) 50%,
      var(--marsali-tatoo-color-black)
    ),
  url('../assets/body.webp.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.agendamento-page > * {
    position: relative;
    z-index: 1;
}


.agendamento-page h1 {
  color: var(--marsali-tatoo-color-gold);
  font-size: 48px;
  line-height: 1.1;
  margin: 0 0 48px;
  font-weight: 700;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.agendamento-page h2 {
  color: var(--marsali-tatoo-color-gold);
  font-size: 24px;
  margin: 0 0 16px;
  font-weight: 700;
}

.agendamento-page section, 
.agendamento-page form {
  margin-bottom: 48px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.agendamento-page input, 
.agendamento-page select, 
.agendamento-page textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid var(--marsali-tatoo-color-gold);
  background-color: #ffffff09;
  color: var(--marsali-tatoo-color-gold);
  font-size: 16px;
}

textarea {
  min-height: 120px;
  resize: vertical;
  color: var(--marsali-tatoo-color-white) !important;
  caret-color: var(--marsali-tatoo-color-gold);
}

textarea::selection {
  background-color: var(--marsali-tatoo-color-gold);
  color: var(--marsali-tatoo-color-white);
  border-radius: 16px;
}

::placeholder {
  color: var(--marsali-tatoo-color-gold);
  border-radius: 16px;
}

select[name="horario"] {
  border-radius: 10px;
}

.agendamento-page input:focus, 
.agendamento-page select:focus, 
.agendamento-page textarea:focus {
  border: 3px solid var(--marsali-tatoo-color-gold);
  outline: none;
}

.agendamento-acoes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.agendamento-acoes button {
  padding: 16px 32px;
  border: 3px solid var(--marsali-tatoo-color-gold);
  border-radius: 10px;
  background-color: transparent;
  color: var(--marsali-tatoo-color-gold);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  transition: 
    transform 0.3s ease,
    background-color 0.3s ease;
}

.agendamento-acoes button:hover {
  background-color: var(--marsali-tatoo-color-white); 
  transform: translateY(-3px);
}

.agendamento-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;

  font-size: 16px;

  padding: 12px 24px;
  border: 3px solid var(--marsali-tatoo-color-gold);
  border-radius: 8px;
  background: transparent;
  color: var(--marsali-tatoo-color-white);

    text-decoration: none;
    cursor: pointer;

    transition:
        color 0.2s ease,
        background-color 0.2s ease,
        border-color 0.2s ease,
        transform 0.2s ease;
}

.agendamento-link:hover {
    background-color: var(--marsali-tatoo-color-white);
    color: var(--marsali-tatoo-color-gold);
    border-color: var(--marsali-tatoo-color-gold);
    transform: translateY(-2px);
}

.agendamento-page textarea {
  min-height: 160px;
  resize: vertical;
  color: var(--marsali-tatoo-color-transparent-white);
}


.agendamento-opcao {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 900;

  border-top: 1px solid var(--marsali-tatoo-color-gold);
  border-bottom: 1px solid var(--marsali-tatoo-color-gold);
  color: var(--marsali-tatoo-color-gold);
}

@media (max-width: 768px) {
  .agendamento-page {
    padding: 48px 20px;
  }

  .agendamento-page h1 {
    font-size: 36px;
  }

 

  .agendamento-acoes {
    display: flex;
    
  }

  .agendamento-acoes button {
    padding: 12px 24px;
    font-size: 14px;
  }

  .agendamento-link {
    padding: 12px 24px;
    font-size: 14px;
  }

  .agendamento-link:hover {
    transform: translateY(-1px);
  }

  .agendamento-opcao {
    font-size: x-large;
    
  }

  .agendamento-page textarea {
    min-height: 120px;
  }
}

