:root {
    --marsali-alert-sucesso: var(--marsali-tatoo-color-gold);
    --marsali-alert-erro: #c94a4a;
    --marsali-alert-aviso: #e0a52b;
    --marsali-alert-info: #5ca9d6;
}

.alert {
    padding: 16px;
    border: 1px solid var(--marsali-tatoo-color-gold);
    border-radius: 12px;
    box-sizing: border-box;

    background: rgb(255, 254, 254);
    color: var(--marsali-tatoo-color-gold);

    display: flex;
    align-items: flex-start;
    gap: 20px;

    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    
    width: calc(100% -32px);
    max-width: 520px;
    margin: 0;
     z-index: 1000;
    position: fixed;

    animation: alert-entrar 0.3s ease-out;
    
    border: 1px solid var(--marsali-tatoo-color-gold);

}

.alert strong {
    display: block;
    margin-bottom: 6px;

    color: var(--marsali-tatoo-color-gold);
    font-size: 18px;
}

.alert p {
    margin: 0;

    color: var(--marsali-tatoo-color-gold);
    line-height: 1.5;
    font-weight: bold;
}

.alert-sucesso {
    border-color: var(--marsali-tatoo-color-gold);
}

.alert-sucesso strong {
    color: var(--marsali-tatoo-color-gold);
}

.alert-erro {
    border-color: var(--marsali-alert-erro);
}

.alert-erro strong {
    color: var(--marsali-alert-erro);
}

.alert-aviso {
    border-color: var(--marsali-alert-aviso);
}

.alert-aviso strong {
    color: var(--marsali-alert-aviso);
}

.alert-info {
    border-color: var(--marsali-alert-info);
}

.alert-info strong {
    color: var(--marsali-alert-info) ;
}

.alert > svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.alert-content {
    flex: 1;
}

.alert > button {
    position: absolute;
    top: 12px;
    right: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;
    padding: 0;

    border: 1px solid transparent;
    border-radius: 6px;

    background-color: transparent;
    color: var(--marsali-tatoo-color-dold);

    cursor: pointer;

    transition: 
        color 0.2s ease,
        background-color 0.2s ease,
        border-color 0.2s ease;
}

.alert > button:hover {
    color: var(--marsali-tatoo-color-gold);
    transform: translateY(-2px);    
}

.alert > button svg {
    width: 18px;
    height: 18px;
}

@keyframes alert-entrar {
    from {
        opacity: 0;
        transform: translate(-50%, 0);

    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }

}

@media(max-width: 480px) {
    .alert {
        width: calc(100% - 32px);
        padding: 12px;
    }

    .alert strong {
        font-size: 16px;
    }

    .alert p {
        font-size: 14px;
    }
}