/* HEADER  */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  
  height: 80px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--marsali-tatoo-color-transparent-white);

  border-bottom: 1px solid rgba(220, 190, 36, 0.35);
}

.header-brand {
  display: flex;
  align-items: center;
}

.brand {
  display: flex;
  flex-direction: column;

  text-decoration: none;
  line-height: 1;
}

.brand-logo {
  width: 105px;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .brand-logo {
    width: 90px;
    height: 90px;
    display: block;
    object-fit: contain;
  }

  .header-brand {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .brand {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .mobile-menu-button {
    flex-shrink: 0;
  }
}

.header nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header nav a {
  color: var(--marsali-tatoo-color-dark-green);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--marsali-tatoo-color-green);
  background-color: #ffffffa9;
  border-radius: 10px;
  padding: 5px;         
  
  transition: color 0.3s ease,
  transform 0.3s ease;
}

.header nav a:hover {
  color: var(--marsali-tatoo-color-gold);
  transform: translateY(-1px);
  border: 1px solid var(--marsali-tatoo-color-gold);

}

.login-link {
  padding-left: 8px;
}

.header-cta {
  padding: 11px 20px;

  background-color: var(--marsali-tatoo-color-green);
  color: var(--marsali-tatoo-color-white);
  border: 1px solid var(--marsali-tatoo-color-gold);
  border-radius: 6px;

  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.header-cta:hover {
  background-color: var(--marsali-tatoo-color-dark-green);
  color: var(--marsali-tatoo-color-gold);

  box-shadow: 0 8px 20px rgba(7, 90, 43, 0.18);

  transform: translateY(-2px);
}

@media (max-width: 767px) {
  .header {
    padding: 20px;
  }
}